
<%- contentFor('body') %>
<div class="content-body default-height">
  <div class="container-fluid">
    <!-- breadcrumb -->
    <%- include('../elements/breadcrumb', {breadcrumb: 'Shop' }) %>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="new-arrival-product">
              <div class="new-arrivals-img-contnent">
                <a href="ecom-product-detail">
                  <img class="img-fluid" src="images/product/1.jpg" alt="">
                </a>
              </div>
              <div class="new-arrival-content text-center mt-3">
                <h4>
                  <a href="ecom-product-detail">School Bag</a>
                </h4>
                <ul class="star-rating">
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa-solid fa-star-half-stroke"></i>
                  </li>
                  <li>
                    <i class="fa-solid fa-star-half-stroke"></i>
                  </li>
                </ul>
                <del class="discount">$1,259</del>
                <span class="price">$761.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="new-arrival-product">
              <div class="new-arrivals-img-contnent">
                <a href="ecom-product-detail">
                  <img class="img-fluid" src="images/product/2.jpg" alt="">
                </a>
              </div>
              <div class="new-arrival-content text-center mt-3">
                <h4>
                  <a href="ecom-product-detail">Color Pencils</a>
                </h4>
                <ul class="star-rating">
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                </ul>
                <span class="price">$159.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="new-arrival-product">
              <div class="new-arrivals-img-contnent">
                <a href="ecom-product-detail">
                  <img class="img-fluid" src="images/product/3.jpg" alt="">
                </a>
              </div>
              <div class="new-arrival-content text-center mt-3">
                <h4>
                  <a href="ecom-product-detail">Pencils</a>
                </h4>
                <ul class="star-rating">
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                </ul>
                <del class="discount">$745</del>
                <span class="price">$357.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="new-arrival-product">
              <div class="new-arrivals-img-contnent">
                <a href="ecom-product-detail">
                  <img class="img-fluid" src="images/product/4.jpg" alt="">
                </a>
              </div>
              <div class="new-arrival-content text-center mt-3">
                <h4>
                  <a href="ecom-product-detail">Stapler</a>
                </h4>
                <ul class="star-rating">
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa-solid fa-star-half-stroke"></i>
                  </li>
                  <li>
                    <i class="fa-solid fa-star-half-stroke"></i>
                  </li>
                </ul>
                <span class="price">$654.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="new-arrival-product">
              <div class="new-arrivals-img-contnent">
                <a href="ecom-product-detail">
                  <img class="img-fluid" src="images/product/5.jpg" alt="">
                </a>
              </div>
              <div class="new-arrival-content text-center mt-3">
                <h4>
                  <a href="ecom-product-detail">Project Book</a>
                </h4>
                <ul class="star-rating">
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                </ul>
                <span class="price">$369.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="new-arrival-product">
              <div class="new-arrivals-img-contnent">
                <a href="ecom-product-detail">
                  <img class="img-fluid" src="images/product/6.jpg" alt="">
                </a>
              </div>
              <div class="new-arrival-content text-center mt-3">
                <h4>
                  <a href="ecom-product-detail">Colorful Book</a>
                </h4>
                <ul class="star-rating">
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                </ul>
                <del class="discount">$452</del>
                <span class="price">$245.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="new-arrival-product">
              <div class="new-arrivals-img-contnent">
                <a href="ecom-product-detail">
                  <img class="img-fluid" src="images/product/7.jpg" alt="">
                </a>
              </div>
              <div class="new-arrival-content text-center mt-3">
                <h4>
                  <a href="ecom-product-detail">Notebook</a>
                </h4>
                <ul class="star-rating">
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                </ul>
                <del class="discount">$678</del>
                <span class="price">$364.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="new-arrival-product">
              <div class="new-arrivals-img-contnent">
                <a href="ecom-product-detail">
                  <img class="img-fluid" src="images/product/1.jpg" alt="">
                </a>
              </div>
              <div class="new-arrival-content text-center mt-3">
                <h4>
                  <a href="ecom-product-detail">Project file</a>
                </h4>
                <ul class="star-rating">
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa-solid fa-star-half-stroke"></i>
                  </li>
                  <li>
                    <i class="fa-solid fa-star-half-stroke"></i>
                  </li>
                </ul>
                <span class="price">$548.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="vendor/highlightjs/highlight.pack.min.js"></script>
<!-- Svganimation scripts -->
<script src="vendor/svganimation/vivus.min.js"></script>
<script src="vendor/svganimation/svg.animation.js"></script>

<script src="js/custom.min.js"></script>
<script src="js/dlabnav-init.js"></script>
<script src="js/demo.js"></script>