<div class="footer">
  <div class="copyright">
      <p>Copyright © Designed &amp; Developed by <a href="http://Digitalaraa.com/" target="_blank">Digitalaraa</a> <span class="current-year">2024</span></p>
  </div>
</div>