<div class="dlabnav">
  <div class="dlabnav-scroll">
    <ul class="metismenu" id="menu">
      <li class="nav-label first">Main Menu</li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-home"></i>
          <span class="nav-text">Dashboard</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="index">Dashboard 1</a>
          </li>
          <li>
            <a href="index-2">Dashboard 2</a>
          </li>
          <li>
            <a href="index-3">Dashboard 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="ai-icon" href="event-management" aria-expanded="false">
          <i class="la la-calendar"></i>
          <span class="nav-text">Event Management</span>
        </a>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-user"></i>
          <span class="nav-text">Professors</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="all-professors">All Professor</a>
          </li>
          <li>
            <a href="add-professor">Add Professor</a>
          </li>
          <li>
            <a href="edit-professor">Edit Professor</a>
          </li>
          <li>
            <a href="professor-profile">Professor Profile</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-users"></i>
          <span class="nav-text">Students</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="all-students">All Students</a>
          </li>
          <li>
            <a href="add-student">Add Students</a>
          </li>
          <li>
            <a href="edit-student">Edit Students</a>
          </li>
          <li>
            <a href="about-student">About Students</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-graduation-cap"></i>
          <span class="nav-text">Courses</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="all-courses">All Courses</a>
          </li>
          <li>
            <a href="add-courses">Add Courses</a>
          </li>
          <li>
            <a href="edit-courses">Edit Courses</a>
          </li>
          <li>
            <a href="about-courses">About Courses</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-book"></i>
          <span class="nav-text">Library</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="all-library">All Library</a>
          </li>
          <li>
            <a href="add-library">Add Library</a>
          </li>
          <li>
            <a href="edit-library">Edit Library</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-building"></i>
          <span class="nav-text">Departments</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="all-departments">All Departments</a>
          </li>
          <li>
            <a href="add-departments">Add Departments</a>
          </li>
          <li>
            <a href="edit-departments">Edit Departments</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-users"></i>
          <span class="nav-text">Staff</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="all-staff">All Staff</a>
          </li>
          <li>
            <a href="add-staff">Add Staff</a>
          </li>
          <li>
            <a href="edit-staff">Edit Staff</a>
          </li>
          <li>
            <a href="staff-profile">Staff Profile</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-gift"></i>
          <span class="nav-text">Holiday</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="all-holiday">All Holiday</a>
          </li>
          <li>
            <a href="add-holiday">Add Holiday</a>
          </li>
          <li>
            <a href="edit-holiday">Edit Holiday</a>
          </li>
          <li>
            <a href="holiday-calendar">Holiday Calendar</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-dollar"></i>
          <span class="nav-text">Fees</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="fees-collection">Fees Collection</a>
          </li>
          <li>
            <a href="add-fees">Add Fees</a>
          </li>
          <li>
            <a href="fees-receipt">Fees Receipt</a>
          </li>
        </ul>
      </li>
      <li class="nav-label">Apps</li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-users"></i>
          <span class="nav-text">Apps</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="./app-profile">Profile</a>
          </li>
          <li>
            <a href="./post-details">Post Details 
            </a>
          </li>
          <li>
            <a href="./edit-profile">Edit Profile 
            </a>
          </li>
          <li>
            <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Email</a>
            <ul aria-expanded="false">
              <li>
                <a href="./email-compose">Compose</a>
              </li>
              <li>
                <a href="./email-inbox">Inbox</a>
              </li>
              <li>
                <a href="./email-read">Read</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="./app-calender">Calendar</a>
          </li>
          <li>
            <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Shop</a>
            <ul aria-expanded="false">
              <li>
                <a href="./ecom-product-grid">Product Grid</a>
              </li>
              <li>
                <a href="./ecom-product-list">Product List</a>
              </li>
              <li>
                <a href="./ecom-product-detail">Product Details</a>
              </li>
              <li>
                <a href="./ecom-product-order">Order</a>
              </li>
              <li>
                <a href="./ecom-checkout">Checkout</a>
              </li>
              <li>
                <a href="./ecom-invoice">Invoice</a>
              </li>
              <li>
                <a href="./ecom-customers">Customers</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
          <i class="flaticon-381-database-1"></i>
          <span class="nav-text">CMS</span>
          
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="content">Content</a>
          </li>
          <li>
            <a href="menu">Menus</a>
          </li>
          <li>
            <a href="email-template">Email Template</a>
          </li>
          <li>
            <a href="blog">Blog</a>
          </li>
          <li>
            <a href="content-add"> Add Content</a>
          </li>
          <li>
            <a href="add-email">Add Email</a>
          </li>
          <li>
            <a href="add-blog">Add Blog</a>
          </li>
          <li>
            <a href="blog-category">Blog Category</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-signal"></i>
          <span class="nav-text">Charts</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="./chart-flot">Flot</a>
          </li>
          <li>
            <a href="./chart-morris">Morris</a>
          </li>
          <li>
            <a href="./chart-chartjs">Chartjs</a>
          </li>
          <li>
            <a href="./chart-chartist">Chartist</a>
          </li>
          <li>
            <a href="./chart-sparkline">Sparkline</a>
          </li>
          <li>
            <a href="./chart-peity">Peity</a>
          </li>
        </ul>
      </li>
      <li class="nav-label">Components</li>
      <li class="ui-menu">
        <a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-globe"></i>
          <span class="nav-text">Bootstrap</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="./ui-accordion">Accordion</a>
          </li>
          <li>
            <a href="./ui-alert">Alert</a>
          </li>
          <li>
            <a href="./ui-badge">Badge</a>
          </li>
          <li>
            <a href="./ui-button">Button</a>
          </li>
          <li>
            <a href="./ui-modal">Modal</a>
          </li>
          <li>
            <a href="./ui-button-group">Button Group</a>
          </li>
          <li>
            <a href="./ui-list-group">List Group</a>
          </li>
          <li>
            <a href="./ui-media-object">Media Object</a>
          </li>
          <li>
            <a href="./ui-card">Cards</a>
          </li>
          <li>
            <a href="./ui-carousel">Carousel</a>
          </li>
          <li>
            <a href="./ui-dropdown">Dropdown</a>
          </li>
          <li>
            <a href="./ui-popover">Popover</a>
          </li>
          <li>
            <a href="./ui-progressbar">Progressbar</a>
          </li>
          <li>
            <a href="./ui-tab">Tab</a>
          </li>
          <li>
            <a href="./ui-typography">Typography</a>
          </li>
          <li>
            <a href="./ui-pagination">Pagination</a>
          </li>
          <li>
            <a href="./ui-grid">Grid</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-plus-square-o"></i>
          <span class="nav-text">Plugins</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="./uc-select2">Select 2</a>
          </li>
          <li>
            <a href="./uc-nestable">Nestedable</a>
          </li>
          <li>
            <a href="./uc-noui-slider">Noui Slider</a>
          </li>
          <li>
            <a href="./uc-sweetalert">Sweet Alert</a>
          </li>
          <li>
            <a href="./uc-toastr">Toastr</a>
          </li>
          <li>
            <a href="./map-jqvmap">Jqv Map</a>
          </li>
          <li>
            <a href="./uc-lightgallery">Light Gallery 
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="widget-basic" aria-expanded="false">
          <i class="la la-desktop"></i>
          <span class="nav-text">Widget</span>
        </a>
      </li>
      <li class="nav-label">Forms</li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-file-text"></i>
          <span class="nav-text">Forms</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="./form-element">Form Elements</a>
          </li>
          <li>
            <a href="./form-wizard">Wizard</a>
          </li>
          <li>
            <a href="form-ckeditor">CkEditor</a>
          </li>
          <li>
            <a href="form-pickers">Pickers</a>
          </li>
          <li>
            <a href="form-validation">Form Validate</a>
          </li>
        </ul>
      </li>
      <li class="nav-label">Table</li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-table"></i>
          <span class="nav-text">Table</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="table-bootstrap-basic">Bootstrap</a>
          </li>
          <li>
            <a href="table-datatable-basic">Datatable</a>
          </li>
        </ul>
      </li>
      <li class="nav-label">Extra</li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="la la-th-list"></i>
          <span class="nav-text">Pages</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="./page-register">Register</a>
          </li>
          <li>
            <a href="./page-login">Login</a>
          </li>
          <li>
            <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Error</a>
            <ul aria-expanded="false">
              <li>
                <a href="./page-error-400">Error 400</a>
              </li>
              <li>
                <a href="./page-error-403">Error 403</a>
              </li>
              <li>
                <a href="./page-error-404">Error 404</a>
              </li>
              <li>
                <a href="./page-error-500">Error 500</a>
              </li>
              <li>
                <a href="./page-error-503">Error 503</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="./page-lock-screen">Lock Screen</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="copyright">
      <p>Digitalaraa Saas Admin © <span class="current-year">2024</span> All Rights Reserved</p>
      <p class="fs-12">Made with <span class="heart"></span> by DexignLab </p>
    </div>
  </div>
</div>